<span class="nitrozen-h6">
	This is Hello World
</span>

<div>
	<nitrozen-button
		[showProgress]="false"
		[isContained]="true"
		[theme]="'primary'"
		[shouldBeDisabled]="false"
		>Primary</nitrozen-button
	>
</div>

<div>
	<nitrozen-button
		[isContained]="true"
		[theme]="'primary'"
		[showIcon]="true"
		[shouldBeDisabled]="false"
		>Primary</nitrozen-button
	>
</div>

<div>
	<nitrozen-button
		[showProgress]="false"
		[isContained]="true"
		[theme]="'secondary'"
		[shouldBeDisabled]="false"
		>Secondary</nitrozen-button
	>
</div>
<div>
	<nitrozen-button
		[showProgress]="false"
		[isContained]="true"
		[theme]="'primary'"
		[shouldBeDisabled]="false"
		>Button</nitrozen-button
	>
</div>
<nitrozen-button-text [prefixIcon]="true" [type]="'unflat'"
	>Save Item</nitrozen-button-text
>

<nitrozen-button-text [postfixIcon]="true" [type]="'unflat'"
	>Next</nitrozen-button-text
>

<nitrozen-button-text [shouldBeDisabled]="true" [type]="'unflat'"
	>Disabled</nitrozen-button-text
>

<nitrozen-button-text [theme]="'warn'" [type]="'unflat'"
	>Delete</nitrozen-button-text
>
