// Reference https://projects.invisionapp.com/d/main#/console/18082086/392512621/preview

// Here we have all colors
$sample_format: #123456;

//typhography colors
$text_primary: #41434C;
$text_secondary: #9b9b9b;

// accent colors
$accent_processing: #33B5E5;
$accent_awaiting: #FFBB33;
$accent_error_negative: #FA3F4D;
$accent_success_positive: #00C853;

// element grays
$form_field_stroke: #D7D7D7;
$hover_color: #F3F3F3;
$divider_stroke: #CECECE;
$placeholder: #EFEFEF;


// Primary Colors
$primary : #36cc9b;
$primary_dark: #2eb589;
$primary_light: #b5ffe7;

//secondary colors
$secondary: #5c6bdd;
$secondary_dark: #4f5ecc;
$secondary_light: #d5daff;


